# Copy this file to secrets.toml locally or paste into Streamlit Cloud -> App Settings -> Secrets
GOOGLE_SHEET_WEBHOOK_URL = "https://script.google.com/macros/s/YOUR_SCRIPT_ID/exec"

# SMTP Settings for Sending Email OTP (Gmail / SendGrid / Custom SMTP)
SMTP_SERVER = "smtp.gmail.com"
SMTP_PORT = 587
SMTP_EMAIL = "your-email@gmail.com"
SMTP_PASSWORD = "your-16-digit-app-password"

